body{
    background-color: black;
}

.card{
    flex:0 0 12em;
    text-align:center;
    align-content: center;
    height: 12em;
    padding: 3em;

}
.group{
    display: flex;
    gap: 1em;
    animation: spin 13s infinite linear;
    padding-right: 1em;

}
.carousel{
    margin:3em auto;
    width: 80%;
    display: flex;
    border:1px solid gray;
    border-radius: 1em;
    overflow-x: auto;
    box-shadow:  5px 5px 20px 7px #e8e4e4;
    background-color: white;
}
.carousel::-webkit-scrollbar{
    display: none;
}

@keyframes spin {
    from { translate:0; }
    to   { translate:-100%; }
}
